body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    background: var(--secondColor);
}
:root {
    --mainColor: #4E729F;
    --mainColorDark: #4B6E99;
    --secondColor: #2F4767;
    --whiteColor: #fff;
    --tableCellColor: #638DC1;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.titleContainer span {
    color: var(--mainColor);
}
.titleContainer #title{
    color: var(--whiteColor);
    font-weight: 300;
    font-size: 22px;
}
.inputFields {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.row2 .btnDisplay {
    width: 270px;
}
.inputFields input[type="number"]{
    height: 20px;
    border-radius: 5px;
    border: none;
    transition: all 0.4s linear;
}
.inputFields input[type="number"]::-webkit-outer-spin-button,
.inputFields input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.inputFields input[type="number"]:focus, .inputFields input[type="number"]:active{
    height: 22px;
    border-radius: 3px;
    outline: none;
}
.btnDisplay{
    cursor: pointer;
    border-radius: 5px;
    border: none;
    height: 25px;
    width: 90px;
    background-color: var(--mainColor);
    color: var(--whiteColor);
    font-weight: 300;
    font-size: 14px;
    transition: all 0.4s linear;
}
.btnDisplay:hover {
    background-color: var(--mainColorDark);   
}
table {
    color: white;
    border-collapse: collapse;
}
tr {
    background: var(--tableCellColor);
}
tr:nth-child(even) {
    background: var(--mainColor);
}
td {
    width: 110px;
}